.marker-btn {
    cursor: pointer;
    background: none;
    border: none;
}

.marker-btn span {
    width: 25px;
    height: 25px;
}

.popup_title {
    font-size: 1.1em;
    font-weight: 500;
}

.log_header {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
}

.log_text {
    text-align: center;
}

.log_img {
    text-align: center;
}

.log_img img {
    max-width: 100%;
    margin: 12px;
}

.hidden {
    display: none;
}

.log_button {
    margin: 0 12px 0;
}